



body{


    background-color: gray;
    /*margin: 0;
    padding: 0;*/
}

.div{

    background-color: orange;
    color: aliceblue;
    width: 600px;
    margin: 20px auto;
}

.div1{

    background-color: purple;
    color: aliceblue;
    width: 50%;
    margin: 20px auto;
    height: 100 vh;
}


.ALA{

    color: aliceblue;
    font-size: 30px;
    padding: 20px;
    margin: 20px 10px;
    height: 200px;
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.footer{
    color: aliceblue;
    font-size: 30px;
    padding: 20px;
    margin: 20px 10px;
    height: 100px;
    background-color: black;
    text-align: center;
    line-height: 100px;
}

.footer{
    clear: both;
}

.mydiv1{
    background-color: orange;
    line-height: 150px;
}

.mydiv2{
    background-color: rgb(0, 0, 58);
    line-height: 150px;
}

.mydiv3{
    background-color: rgb(70, 160, 70);
    line-height: 150px;
}